Tasks 

1. Company has sold too many fish everyday. Each fish has a different 
weight. Company wants to know each species maximum and 
minimum of each fish.
2. The Company has many sold to much different fish and they want to 
see fish which height more than 15 and also width has to be more 
than 5.
3. The company store has too many fish and each fish has its own 3 
lengths. Company wants to see each species fish average lengths.
4. Company sees that some species sell too much. Company knows 
that species of fish start at “B” and height is more than 10 and smaller 
than 13. They want to all information about these fishes

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/content/Fish.csv")

EDA

In [3]:
data.head()

,Species,Weight,Vertical length,Diagonal length,Cross length,Height,Width
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340

In [4]:
data.tail()

,Species,Weight,Vertical length,Diagonal length,Cross length,Height,Width
154,Smelt,12.2,11.5,12.2,13.4,2.0904,1.3936
155,Smelt,13.4,11.7,12.4,13.5,2.4300,1.2690
156,Smelt,12.2,12.1,13.0,13.8,2.2770,1.2558
157,Smelt,19.7,13.2,14.3,15.2,2.8728,2.0672
158,Smelt,19.9,13.8,15.0,16.2,2.9322,1.8792

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Species          159 non-null    object
 1   Weight           159 non-null    float64
 2   Vertical length  159 non-null    float64
 3   Diagonal length  159 non-null    float64
 4   Cross length     159 non-null    float64
 5   Height           159 non-null    float64
 6   Width            159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [6]:
data.shape

(159, 7)

In [7]:
data.dtypes

Species             object
Weight             float64
Vertical length    float64
Diagonal length    float64
Cross length       float64
Height             float64
Width              float64
dtype: object

In [8]:
data.describe()

,Weight,Vertical length,Diagonal length,Cross length,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [9]:
data.isnull().sum()

Species            0
Weight             0
Vertical length    0
Diagonal length    0
Cross length       0
Height             0
Width              0
dtype: int64

In [10]:
data.duplicated().sum()

0

Task 1

In [14]:
data.groupby('Species')[['Height', "Width"]].max()

            Height   Width
Species
Bream      18.9570  6.7497
Parkki     11.3680  4.2340
Perch      12.8002  8.1420
Pike       10.8120  7.4800
Roach       9.4850  5.3550
Smelt       2.9322  2.0672
Whitefish  12.3540  6.5736

In [15]:
data.groupby('Species')[['Height', "Width"]].min()

            Height   Width
Species
Bream      11.5200  4.0200
Parkki      6.5772  2.3142
Perch       2.1120  1.4080
Pike        5.5680  3.3756
Roach       4.1472  2.2680
Smelt       1.7284  1.0476
Whitefish   8.1454  4.2476

task 2

In [18]:
data.loc[(data['Height'] > 15) & (data['Width'] > 5 )]

,Species,Weight,Vertical length,Diagonal length,Cross length,Height,Width
15,Bream,600.0,29.4,32.0,37.2,15.4380,5.5800
18,Bream,610.0,30.9,33.5,38.6,15.6330,5.1338
20,Bream,575.0,31.3,34.0,39.5,15.1285,5.5695
21,Bream,685.0,31.4,34.0,39.2,15.9936,5.3704
22,Bream,620.0,31.5,34.5,39.7,15.5227,5.2801
23,Bream,680.0,31.8,35.0,40.6,15.4686,6.1306
24,Bream,700.0,31.9,35.0,40.5,16.2405,5.5890
25,Bream,725.0,31.8,35.0,40.9,16.3600,6.0532
26,Bream,720.0,32.0,35.0,40.6,16.3618,6.0900
27,Bream,714.0,32.7,36.0,41.5,16.5170,5.8515
28,Bream,850.0,32.8,36.0,41.6,16.8896,6.1984
29,Bream,1000.0,33.5,37.0,42.6,18.9570,6.6030
30,Bream,920.0,35.0,38.5,44.1,18.0369,6.3063
31,Bream,955.0,35.0,38.5,44.0,18.0840,6.2920
32,Bream,925.0,36.2,39.5,45.3,18.7542,6.7497
33,Bream,975.0,37.4,41.0,45.9,18.6354,6.7473
34,Bream,950.0,38.0,41.0,46.5,17.6235,6.3705

Task 3

In [19]:
data.groupby('Species')[["Vertical length","Diagonal length", "Cross length"]].mean()

           Vertical length  Diagonal length  Cross length
Species
Bream            30.305714        33.108571     38.354286
Parkki           18.727273        20.345455     22.790909
Perch            25.735714        27.892857     29.571429
Pike             42.476471        45.482353     48.717647
Roach            20.645000        22.275000     24.970000
Smelt            11.257143        11.921429     13.035714
Whitefish        28.800000        31.316667     34.316667

Task 4

In [37]:
data_1=data.loc[data["Species"].str.startswith("B") & (data['Height'] > 10) & (data['Height'] < 13 )]

In [38]:
data_1

,Species,Weight,Vertical length,Diagonal length,Cross length,Height,Width
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340
7,Bream,390.0,27.6,30.0,35.0,12.6700,4.6900